Connected Services/FoodSupplier/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Food">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FoodDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoodPicture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoodPrice" type="xs:double" />
          <xs:element minOccurs="0" name="FoodType" nillable="true" type="tns:FoodType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Food" nillable="true" type="tns:Food" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="FoodType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FoodTypeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FoodType" nillable="true" type="tns:FoodType" />
</xs:schema>