Connected Services/FoodSupplier/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49762/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfFood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Food" nillable="true" type="tns:Food" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFood" nillable="true" type="tns:ArrayOfFood" />
  <xs:complexType name="Food">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FoodDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoodPicture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FoodPrice" type="xs:double" />
          <xs:element minOccurs="0" name="FoodType" nillable="true" type="tns:FoodType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Food" nillable="true" type="tns:Food" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="FoodType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FoodTypeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FoodType" nillable="true" type="tns:FoodType" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FoodIDs" nillable="true" type="q1:ArrayOfint" />
          <xs:element minOccurs="0" name="IsPaid" type="xs:boolean" />
          <xs:element minOccurs="0" name="buisnessID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>