Connected Services/FoodSupplier/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49762/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49762/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49762/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:49762/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllFood_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFood" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPaid" />
  </wsdl:message>
  <wsdl:message name="IService_IsPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PutOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PutOrder" />
  </wsdl:message>
  <wsdl:message name="IService_PutOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllFood" message="tns:IService_GetAllFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllFoodResponse" message="tns:IService_GetAllFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsPaid" message="tns:IService_IsPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsPaidResponse" message="tns:IService_IsPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllOrders" message="tns:IService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllOrdersResponse" message="tns:IService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PutOrder" message="tns:IService_PutOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PutOrderResponse" message="tns:IService_PutOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFood">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPaid">
      <soap:operation soapAction="http://tempuri.org/IService/IsPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutOrder">
      <soap:operation soapAction="http://tempuri.org/IService/PutOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:49762/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>